/** Global styles **/
:root {
  --fontBold: 700;
  --fontExtraBold: 900;
  --font-size-p: 1.8rem;
  --font-size-subtitle: 2.6rem;

  --bodyColor: hsl(0, 0%, 95%);
  --formColor: hsl(0, 0%, 90%);

  --primaryColor: hsl(258, 100%, 50%);
  --whiteColor: hsl(0, 0%, 100%);

  --successNotification: hsl(120, 100%, 35%);
  --errorNotification: hsl(0, 100%, 50%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100dvh;
  background-color: var(--bodyColor);
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: center;
}

main {
  margin: 0 auto;
  width: min(90%, 120rem);
  margin-bottom: 5rem;
}

.subtitle {
  margin: 0;
  font-size: var(--font-size-subtitle);
}

.div-tasks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--formColor);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.no-tasks-p {
  font-size: var(--font-size-p);
  margin: 0;
}

.primary-color {
  color: var(--primaryColor);
}

.notification {
  padding: 1rem;
  border-radius: .5rem;
  color: var(--whiteColor);
  width: 100%;
  font-size: 1.6rem;
  font-weight: var(--fontBold);
  text-transform: uppercase;
  animation: opacity .3s;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.green-notification {
  background-color: var(--successNotification);
}

.red-notification {
  background-color: var(--errorNotification);
}

/** Styles Main **/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.title {
  font-size: 3.4rem;
  margin-bottom: 0;
  text-decoration: underline;
  font-weight: var(--fontExtraBold);
}

.description {
  font-size: 2.4rem;
  font-weight: var(--fontBold);
  margin: 1rem 0 3rem 0;
}

/** Styles Form **/
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.form input {
  padding: 1.5rem;
  width: 100%;
  border: none;
  border-radius: .5rem;
  font-size: var(--font-size-p);
}

.form input:focus {
  outline: none;
}

.div-select-priority-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.priority-field {
  display: flex;
  gap: 1rem;
}

.priority-field label {
  font-size: 1.8rem;
  cursor: pointer;
}

.priority-field input {
  width: 2rem;
  cursor: pointer;
}

.btn-add-tasks {
  padding: 1rem;
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  font-size: 1.6rem;
  font-weight: var(--fontBold);
  text-transform: uppercase;
}

.btn-add-tasks:hover {
  background-color: hsl(258, 100%, 35%);
}

/** Styles Tasks **/
#div-user-tasks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.div-show-tasks {
  background-color: hsl(155, 100%, 95%);
  border: 1px solid hsl(155, 100%, 25%);
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
}

.user-task {
  font-size: var(--font-size-p);
  padding: 2rem;
  margin: 0;
}

.user-task-span {
  font-weight: var(--fontBold);
}

.div-btns {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}

.btn-task {
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  text-transform: uppercase;
  font-size: var(--font-size-p);
  color: var(--whiteColor);
  font-weight: var(--fontBold);
  cursor: pointer;
}

.edit-task {
  background-color: var(--primaryColor);
}

.edit-task:hover {
  background-color: hsl(258, 100%, 35%);
}

.delete-task {
  background-color: var(--errorNotification);
}

.delete-task:hover {
  background-color: hsl(0, 100%, 35%);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-p);
  font-weight: var(--fontBold);
  height: 10rem;
  color: var(--whiteColor);
  background: linear-gradient(to top, var(--primaryColor) 0%, var(--bodyColor) 100%);
}

.footer-link {
  color: var(--whiteColor);
  border-bottom: 1px solid var(--whiteColor);
  text-decoration: none;
  transition: .3s ease-in-out;
  margin-left: .5rem;
}

.footer-link:hover {
  transform: translateY(-5px);
  border: none;
}

/** PC Screen **/
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 3rem;
  }
}